@import '../../sass/variables.scss';

nav {
    border-bottom: 1px solid #E7E3E3;

    a.sidenav-trigger {
        display: block !important;
    }
}

.button-collapse {
    margin: 0 16px;
}

.page-title {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: $mainTextColor;
}